---
title: Le Wagon - Middleman - About
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <%data.contentful.sortiesRaquettes.each do |sortie| %>
        <li>
          <h2><%= sortie[1].titre %></h2>
          <p><%= sortie[1].description %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
